There are way too many constraints to document without tools.

In order to veiw which constraints exists, just view the database with a gui database browser.
I recommend SQLiteStudio.
SQLiteBrowser is more popular, but I couldn't figure out how to do check constraints in less than a minute.

Check constaints are being used to enforce length restrictions on text columns.
Length restrictions are in charcters not bytes.

There are also some oddities that SQLite has that are worth explicitly explaining here.

01. By default PKs can be null.
02. By default FK constraints are not enforced and must be explicitly told to enforce.
03. SQLite does not enforce size restrictions for text data types.
04. SQLite does not enforce type restrictions for columns.
05. SQLite only has partial support for collation. (only has ASCII built in) It does support it, but collation libraries must be provided.
06. SQLite only has 5 types: Text, Integer, Real, Numeric, and Blob.
07. Null values are considered unique and can be used in unique indexes.
08. SQLite only natively supports UTF-8.